.new-tweet {

  width: 100%;
  display: none;
  margin: auto;
  background: linear-gradient(to bottom, #BCFA85 0%, #ffa888 100%);
  text-shadow: #ffffff 1px 1px 0;
  padding: 1em;
  color: white;
  text-align: center;
  font-family: "Lato";
  font-size: 1em;
  border-radius: 8px;
  position: relative; }
}

.new-tweet h2 {

    width: 100%;
    text-align: left;
    padding-top: 0.5em;
    margin-left: 3%;
    border-bottom: 1px solid black;
}

textarea {

    width: 94%;
}

.counter {

    margin-left: -7.5%;
}

.input {

    background: #F985AA;
    border: solid #f5f5f5;
    border-radius: 8px;
    margin-right: 78.5%;
    margin-bottom: 0.5em;
    color: #f5f5f5;
}

.input:focus {
  outline: none;
}


.tweet {

    margin-top: 1%;
    overflow: hidden;
    border-radius: 7px;
    border-style: solid;
    border-color: #ffffff;
    margin-right: 1%;
    margin-left: 1%;
    color: #333333;
    opacity: 0.8;
    transition: opacity 0.2s linear;
}

.tweet:hover {
    opacity: 1;
}

.user-handle {

    float: right;
    margin-top: -13%;
    display: inline-block;
    border-radius: 5px;
    margin-left: 70%;
    position: relative;
    font-weight: bolder;
    padding-right: 3px;
}

.user-name {

  text-align: left;
  font-weight: bolder;
}
.user-avatar {

  width: 18%;
  float: left;
  margin-top: 12%;
  border: 5px solid #ecf0f1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 2%;
}


.tweet-content {
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 8px;
  text-align: left;
  width: 75%;
  display: block;
  position: relative;
  padding-left: 20px;
  vertical-align: top;
  display: inline-block;
  margin: 10%;

}

.tweet h1 {

    margin-top: -12%;
    margin-right: 25%;
    font-size: 1.6em;
}

.tweet-timestamp {

    display: inline-block;
    margin-left: -45%;

}

.tweet:hover .tweet-actions {
    opacity: 1;
    transition: opacity 0.2s linear;
}



.tweet-actions {

    margin-top: 3%;
    float: right;
    color: black;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.tweet-actions i {

    padding-left: 0.3em;
    padding-right: 0.3em;
}

.tweet-header {

    padding: 3%;
    background-color: white;
}

.tweet-footer {

    border-top: .5px solid grey;
    padding: 0.5em;
    background-color: white;
}


